<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="{{ url_for('frontend.static', filename='styles/style.css') }}">
    <link rel="icon" href="{{ url_for('frontend.static', filename='images/logo.png') }}">
"</head>
<body>
    <header>
        <img src="{{ url_for('frontend.static', filename='images/logo.png') }}" alt="Logo" class="logo" />
        <nav>
            <a href="{{ url_for('frontend.index') }}">Home</a>
            <a href="{{ url_for('frontend.login') }}" class="login-button">Login</a>
        </nav>
    </header>

    <main>
      <section class="add-review"
        <h2>Review for: <em> Cozy Cabin</em></h2>
        
        <form id="review-form class="form">
            <h2>Add a Review</h2>
            <label for="review">Your Review:</label>
            <textarea id="review" name="review" required></textarea>
            <label for="rating">Rating:</label>
            <select id="rating" name="rating" required>
                <option value="">Select a rating</option>
                <option value="1">1 - Poor</option>
                <option value="2">2 - Fair</option>
                <option value="3">3 - Good</option>
                <option value="4">4 - Very Good</option>
                <option value="5">5 - Excellent</option>
            </select>
            <button type="submit">Submit Review</button>
            <p id="review-message" style="margin-top: 10px;"></p>
        </form>
      </section>
    </main>

    <footer>
        <p>&copy; 2025 All rights reserved.</p>
    </footer>

    <script src="{{ url_for('frontend.static', filename='scripts/script.js') }}"></script>

</body>
</html>
